<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bruce.course.shardingjdbccourse.mapper.CourseMapper">
    <resultMap id="BaseResultMap" type="com.bruce.course.shardingjdbccourse.entity.Course">
        <id column="cid" property="cid" jdbcType="BIGINT"/>
        <result column="cname" property="cname" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="start_month" property="startMonth" jdbcType="BIGINT"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="cstatus" property="cstatus" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="courseColumnSql" >
        cname,user_id,start_month,created_time,cstatus
    </sql>

    <insert id="addCourse" >
        insert into course(
        <include refid="courseColumnSql"></include>
        )
        values(#{course.cname},#{course.userId},#{course.startMonth},#{course.createdTime},#{course.cstatus}) ;
    </insert>

    <insert id="insertCourseList" >
        insert into course(
        <include refid="courseColumnSql"></include>
        )
        values
        <foreach collection="courseList" item="course" index="index" separator=",">
            (#{course.cname},#{course.userId},#{course.startMonth},#{course.createdTime},#{course.cstatus})
        </foreach>
    </insert>

    <update id="updateCourse" >
        update course set 1=1
        <if test="#{cname} != null" >
            and  cname = #{cname}
        </if>
        <if test="#{userId} != null" >
            and  user_id = #{userId}
        </if>
        <if test="#{createdTime} != null" >
            and  created_time = #{createdTime}
        </if>
        <if test="#{cstatus} != null" >
            and  cstatus = #{cstatus}
        </if>
        where cid = #{cid}
    </update>

    <select id="queryCourse" resultMap="BaseResultMap" >
        select
        cid,
        <include refid="courseColumnSql" />
        from course c
        where
         1 = 1
        <if test="#{courseQueryDTO.cname} != null" >
            and  c.cname like concat('%',#{courseQueryDTO.cname},'%')
        </if>
        <if test="#{courseQueryDTO.userId} != null" >
            and  c.user_id = #{courseQueryDTO.userId}
        </if>
    </select>

</mapper>