<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bruce.course.shardingjdbccourse.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.bruce.course.shardingjdbccourse.entity.UserEntity" >
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age" />
        <result column="status" property="status" />
    </resultMap>
    <sql id="userColumnSql" >
        user_id,
        user_name,
        sex,
        age,
        status
    </sql>

    <select id="queryAllUser" resultMap="BaseResultMap" >
        select
         <include refid="userColumnSql"></include>
        from user
    </select>
</mapper>